<div class="container">
  <div class="row">
    <div class="col">
      <app-list-register></app-list-register>
    </div>
  </div>
  <app-list-index [lists]="lists" (listOnClick)="filterTaskCategory($event)"></app-list-index>
  <div class="row">
    <div class="col">
      <app-task-register [tasks]="tasks" [lists]="lists"></app-task-register>
    </div>
  </div>
  <app-task-index [list]="displayedList" [tasks]="tasksSortedByList" (deleteTaskOnClick)="removeTask($event)" (toggleTaskOnClick)="toggleTaskStatus($event)"></app-task-index>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
