<form name="form" [formGroup]="newListForm" (ngSubmit)="newListForm.valid && onSubmitListForm()">
  <div class="form-group">
    <label for="title"><h6>Título</h6></label>
    <input type="text" class="form-control" formControlName="title" [ngClass]="{'is-invalid': newListForm.get('title')?.touched && newListForm.get('title')?.invalid}">
    <div class="invalid-feedback" *ngIf="newListForm.get('title')?.touched && newListForm.get('title')?.invalid">
      <div *ngIf="newListForm.get('title')?.errors?.required">
        Informar um título para a categoria
      </div>
      <div *ngIf="newListForm.get('title')?.errors?.minlength">
        Informar um título com pelo menos 3 caracteres
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <h6>Etiqueta</h6>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary" *ngFor="let color of listColors" [ngStyle]="{'background-color': newListForm.get('color')?.value === color.value ? color.valueWhenSelected : color.value, 'border': 'none'}">
            <input type="radio" autocomplete="off" [value]="color.value" formControlName="color"  [checked]="{'active':newListForm.get('color')?.value === color.value}">&nbsp;
          </label>
        </div>
      </div>
    </div>
    <div class="col">
      <h6>Etiqueta selecionada</h6>
      <label class="btn btn-secondary" [ngStyle]="{'background-color': newListForm.get('color')?.value, 'border': 'none'}">
        &nbsp;
      </label>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!newListForm.valid">Adicionar categoria</button>
  </div>
</form>
